{% extends 'templates/base.html' %}

{% load static %}

{% block css_add %}

<link rel="stylesheet" href=" {% static 'css/commands_tournament.css' %}">
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">

<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block title %} Команды {% endblock %}

{% block content %}

<div class="container marketing bg-light">
{% include 'templates/includes/navbar.html' %}


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for command in tournament.commands.all %}
        <div class="col-md-3">
          <div class="card shadow-sm">
              {% if command.command_photo %}
            <a href="{% url 'id' id=command.id %}"> <img src="{{ command.command_photo.url }}" class="card-img-top" width="100%" height="200" alt="..."></a>
              {% else %}
            <a href="{% url 'id' id=command.id %}"> <img src="{% static 'img/com_photo.jpg' %}" class="card-img-top" width="100%" height="200" alt="..."></a>
              {% endif %}
            <div class="card-body">
                  <p class="card-text"><h4>{{ command.name }}</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'id' id=command.id %}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
          <br>

  {% if user.is_superuser %}

      <form action="{% url 'commands_tournament' tournament_id=tournament.pk %}" method="post">

        {% csrf_token %}

        <div class="checkselect">
          {% for command_tour in commands_add %}

          <label><input type="checkbox" name="{{ command_tour.name }}" value="{{ command_tour.id }}">{{ command_tour.name }}</label>

          {% endfor %}
        </div>

        <button type="submit">Добавить</button>
      </form>

    </div>
</div>

<br>
<br>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/commands_tournament.js' %}"></script>

{% endif %}
{% endblock %}


