
{% extends 'templates/base.html' %}

{% load static %}

{% block css_add %}

<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">

{% endblock %}

{% block title %} {{ match.date_and_time }} {% endblock %}

{% block content %}

<br>
  <div class="text-center">
      <h1>{{ match.date_and_time }}</h1>
  </div><br>

  <div class="container marketing">
    <div class="row g-8">
      <div class="col-md-10">
         {% for event in match.events.all %}
            <div class="alert alert-warning">
                <h3>{{ event.minute }} {{ event.event }}</h3>
            </div>
        {% endfor %}
      </div>
      <div class="col-md-2">
        <div class="position-sticky" style="top: 2rem;">
          {% include 'templates/includes/navbar.html' %}<br>


        </div>
      </div>
    </div>
  </div>

{% endblock %}



